{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">Cancha Golf</h1>
<p>La conjunción de bosque, montaña, río y mar hacen del Ushuaia Golf Club un destino muy especial.

    Junto a la estación del Tren del Fin del Mundo, la cancha del Ushuaia Golf Club es el punto más al sur del planeta en el que se practica el deporte. Sobre el valle del Río Pipo y al pie del cerro Segui, el paisaje inmejorable da lugar a la cancha que ofrece todo su encanto tanto para residentes locales como para turistas nacionales e internacionales.
    
    El terreno ondulado, con desniveles por el que cruza el serpenteante río, despliega un desafiante campo de juego par 70, de casi 6000 yardas.
    
    El trazado comienza con los primeros hoyos en los que los fairways no se encuentran tan delimitados, en el que permite que el tiro desde los tee no penalice gravemente, y tornándose más finos los mismos a medida que el trazado comienza a acompañar al río y solicitando mayor precisión a la hora de utilizar el drive.
    
    La casi total ausencia de bunkers (sólo en el hoyo 1 y 4 aparecen cercanos al green) no resta complejidad ya que las pendientes, el río, y árboles, bien ubicados, retan al jugador a evitar errores que pueden llegar a costar caro a la hora de ejecutar el segundo tiro.
    
    El look agreste cuadra a la perfección con el entorno que respeta las condiciones preexistentes y no siempre permite que la pelota se encuentre en el mismo nivel que los pies. Greens pequeños y rápidos, defendidos por lomas o depresiones de césped, demandan juego corto preciso.
    
    La complejidad y el estado de la cancha varían mucho de acuerdo a las condiciones climáticas, ya que es frecuente jugar en un día las cuatro estaciones, dependiendo la época del año, es posible encontrar días muy ventosos, lluviosos, fríos, o inclusive con alguna nevada (razón por la cual la cancha se encuentra cerrada 5 meses al año).</p>
{% endblock %}