{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">Instalaciones</h1>
<p>RESTAURANTE Y CAFETERÍA
    El restaurante se sitúa encima de la zona de piscina exterior, por lo que es el lugar perfecto para desayunar o, simplemente, tomar un tentempié como descanso antes de retomar la sesión de baño en la piscina o las actividades de animación.
    
    Para disfrutar de agradables comidas y cenas exteriores, el restaurante cuenta con una gran terraza que hace las delicias de todos nuestros campistas.
    
    ASEO E HIGIENE
    Nuestro camping cuenta con los mejores y más higiénicos servicios de aseos.
    
    Conociendo la gran importancia de este servicio, nuestro camping cuenta con 6 amplios bloques de aseos totalmente equipados y ubicados estratégicamente a lo largo de las instalaciones para tu total comodidad.
    
    Además, disponemos de 7 bloques de fregaderos para el aseo de los utensilios de cocina, servicios de WC químicos, aseos para personas con movilidad reducida, baños para niños, estación para autocaravanas y lavacoches.</p>
{% endblock %}