{% extends "AppCoder/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="mb-5">About Us</h1>
<p>Somos dos habitantes de la ciudad de Ushuaia, actualmente viviendo en Capital Federal, 
    ambos conocemos este predio en Ushuaia pero es muy antiguo y no cuenta con medios digitales para su publicaciones.
Es por esto que se nos ocurrio proponer este blog para un complejo de Golf, pileta y demas actividades.
el entusiasmo y empuje de un grupo de vecinos, conformado por Miguel Ángel Hernández, Mario Carzo, Ovidio Moreno y Eduardo Iribarne, fueron los precursores de esta cancha que hoy se puede observar desde la ruta nacional Nº 3.

En 1992 se firma, con el entonces intendente Dn. Mario Daniele, el acta de fundación del Ushuaia Golf Club.

En septiembre de ese año se obtiene la personería jurídica otorgada por la IGJ.

En 1994 se obtiene la homologación de la cancha por parte de la Asociación Argentina de Golf y el gobierno declaró el emprendimiento de interés provincial mediante el decreto Nº 960/94.

El 8 de diciembre de ese mismo año tuvo lugar el primer torneo oficial.

A partir de ese entonces, se sucedieron distintas Comisiones Directivas que hicieron frente al desafío de mantener la actividad a flote.

En la actualidad se cuenta con más de 120 socios y, conforme las características climáticas de nuestra región la actividad se desarrolla desde el mes de Octubre a Mayo.</p>
<body>


{% endblock %}